<script src="https://unpkg.com/vue@2.1.10/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.3/axios.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<div id="app" class="container">
	<!-- Navbar -->
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="">Brandon's Blog</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><a href="">Home</a></li>
				<li><a href="">Login</a></li>
				<li><a href="">Register</a></li>
				<li><a href="">All Posts</a></li>
				<li><a href="">New Post</a></li>
				<li><a href="">User Posts</a></li>
				<li><a href="">All Posts</a></li>
				<li><a href="">Logout</a></li>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
	<!--end navbar -->

	<!-- Display Post -->
	<button @click="getPosts()" class="btn btn-default">
	Get Posts
	</button>
	<div>
		<ul class="list-group">
			<li v-for="post in posts" class="list-group-item">
				<div class="row">
					<div class="col-xs-3">
						<h1>
						Title: {{post.post_title}}
						</h1>
					</div>
					<div class="col-xs-6">
						Content: {{post.post_content}}
					</div>
					<div class="col-xs-3">
						<h3>User: {{post.username}}</h3>

						<div v-if="post.created_datetime">
							Posted on: {{post.created_datetime}}
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<!-- end display post -->
<div>
  
  <p>
  	Posts: {{posts}}
  </p>
</div>

<script>
new Vue({
	el:'#app',
	methods: {
		getPosts: function() {
			var vm = this
			axios.get('http://127.0.0.1:5000/viewallpostsapi')
			.then(function (response) {
				console.log(response);
				vm.posts = response.data;
			}).catch(function(error) {
				console.log(error);
			});
		}
	},
	data: {
		posts: [],
	}
})
</script>